html {
  font-size: 15px;
  body {
    padding: 0;
    margin: 1em 0 0 0;
    font-family: monospace;
    text-align: center;

    h2, .container {
      font-size: 0.9rem;
    }
    h1, h2 {
      padding: 0;
      margin: 0;
    }
    h1 {
      font-size: 1.4em;
    }
    h2 {
      font-size: 1.5em;
    }
    table {
      vertical-align: top;
      display: inline-block;
      text-align: center;
      border-spacing: 0;
      margin: 10px;

      .month {
        font-size: 1.2em; background: #272530; color: #fff; border: none;
      }
      .day {
        background: #ffebcd;
      }
    }

    th, td {
      padding: 5px 6px;
    }
    .current-day {
      background: #FF94D4;
      font-weight: bold;
    }
    .current-month {
      background: #EDFFDD;
    }
    .weekend {
      background: #87E8CC;
    }
    .main-calendar {
      padding-bottom: 7px;
      font-size: 1.45em;
      background: #e9e9e9;
      table {
        margin-bottom: 3px;
      }
    }
    @media(max-width: 320px) {
      .main-calendar {
        font-size: 1.35em;
        table {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}
